@use '../../styles/global.scss' as *;
@import '../../assets/config/mixins';

.categoryCard {
    // width: 250px;
    padding: 20px;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: 8px;

}

.cardImg {
    position: relative;
    
    img {
        width: 100%;
    }
}

h4 {
    padding: 10px 0 0 6px;
    @include text-ellipsis(14, 1, 1);
}

.ctgs {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.btn {
    padding: 10px; 
    margin-left: 6px;;
    border-radius:  4px;
    background-color: var(--main-color-red);
    color: white;
}

.btnTxt {
    letter-spacing: 1px;
}