$tvDesktop: 1700px;
$bigDesktop: 1680px;
$desktop: 1280px;
$minDesktop: 1024px;
$tablet: 768px;
$mobile: 600px;


$sidebarWidth: 309px;
$sidebarWidthClose: 119px;
$sidebarWidthCloseMin: 65px;

$sidebarSubMenuWidth: 190px;
$sidebarSubMenuWidthClose: 0;