.layout {
    width: 100%;
    height: 100vh;
    // margin: 100px auto;
}

.layoutContent {
    width: 100vw;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 30px;
}

.childrenContent {
    width: 80vw;
}

.sideBarContent {
    display: flex;
    gap: 20px;
    flex-direction: column;
}